# Wheat Seeds 2
## Load packages

In [24]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.impute import SimpleImputer

# Data Preprocessing
## Download the Wheat Seed dataset from the given link

In [25]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00236/seeds_dataset.txt
path = '/content/seeds_dataset.txt'

--2023-02-20 22:37:19--  https://archive.ics.uci.edu/ml/machine-learning-databases/00236/seeds_dataset.txt
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 9300 (9.1K) [application/x-httpd-php]
Saving to: ‘seeds_dataset.txt.1’

seeds_dataset.txt.1 100%[===================>]   9.08K  --.-KB/s    in 0s

2023-02-20 22:37:19 (126 MB/s) - ‘seeds_dataset.txt.1’ saved [9300/9300]

## Read Wheat Seed Data with all features and target values

In [26]:
features = ['Area',
            'Perimeter',
            'Compactness',
            'Length of kernel',
            'Width of kernel',
            'Asymmetry coefficient',
            'Length of kernel groove.']

df = pd.read_csv(path, delimiter=r'[\t]+',
                 names=features + ['target'])
display(df)

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

,Area,Perimeter,Compactness,Length of kernel,Width of kernel,Asymmetry coefficient,Length of kernel groove.,target
0,15.26,14.84,0.8710,5.763,3.312,2.221,5.220,1
1,14.88,14.57,0.8811,5.554,3.333,1.018,4.956,1
2,14.29,14.09,0.9050,5.291,3.337,2.699,4.825,1
3,13.84,13.94,0.8955,5.324,3.379,2.259,4.805,1
4,16.14,14.99,0.9034,5.658,3.562,1.355,5.175,1
...,...,...,...,...,...,...,...,...
205,12.19,13.20,0.8783,5.137,2.981,3.631,4.870,3
206,11.23,12.88,0.8511,5.140,2.795,4.325,5.003,3
207,13.20,13.66,0.8883,5.236,3.232,8.315,5.056,3
208,11.84,13.21,0.8521,5.175,2.836,3.598,5.044,3
209,12.30,13.34,0.8684,5.243,2.974,5.637,5.063,3

### Separate features as X and target as y

In [27]:
X = df.loc[:, features]
original_X = df.loc[:, features]
y = df.loc[:, 'target']

## Manipulate the original data
### Select random %5 of cells and replace their value with NaN

In [28]:
percentage = 0.05
X[np.random.random(X.shape) > 1 - percentage] = np.nan

display(X.head(50).fillna('_'))

,Area,Perimeter,Compactness,Length of kernel,Width of kernel,Asymmetry coefficient,Length of kernel groove.
0,15.26,14.84,0.871,5.763,3.312,2.221,5.22
1,_,14.57,0.8811,5.554,3.333,1.018,4.956
2,14.29,14.09,0.905,5.291,3.337,2.699,4.825
3,13.84,13.94,0.8955,5.324,3.379,2.259,4.805
4,16.14,14.99,0.9034,5.658,3.562,1.355,5.175
5,14.38,_,0.8951,5.386,3.312,2.462,4.956
6,14.69,14.49,0.8799,5.563,3.259,_,5.219
7,14.11,14.1,0.8911,5.42,3.302,2.7,_
8,16.63,15.46,0.8747,_,_,2.04,5.877
9,16.44,15.25,0.888,5.884,3.505,1.969,5.533
10,15.26,14.85,0.8696,5.714,3.242,4.543,5.314
11,14.03,14.16,0.8796,5.438,3.201,1.717,5.001
12,13.89,_,0.888,5.439,3.199,3.986,4.738
13,13.78,14.06,0.8759,5.479,3.156,3.136,4.872
14,13.74,14.05,0.8744,5.482,3.114,2.932,4.825
15,14.59,14.28,0.8993,_,3.333,4.185,4.781
16,13.99,13.83,0.9183,5.119,3.383,5.234,4.781
17,15.69,14.75,0.9058,5.527,3.514,1.599,5.046
18,14.7,14.21,0.9153,5.205,3.466,1.767,4.649
19,12.72,13.57,0.8686,5.226,3.049,4.102,4.914
20,14.16,14.4,0.8584,5.658,3.129,3.072,5.176
21,14.11,14.26,0.8722,5.52,3.168,2.688,5.219
22,_,14.9,0.8988,5.618,3.507,0.7651,5.091
23,12.08,13.23,0.8664,5.099,2.936,1.415,4.961
24,15.01,14.76,0.8657,5.789,3.245,1.791,_
25,16.19,15.16,0.8849,5.833,3.421,0.903,_
26,13.02,13.76,0.8641,5.395,_,3.373,4.825
27,12.74,13.67,0.8564,5.395,2.956,2.504,4.869
28,14.11,14.18,0.882,5.541,3.221,2.754,5.038
29,13.45,14.02,0.8604,5.516,3.065,3.531,5.097
30,13.16,13.82,0.8662,5.454,2.975,0.8551,5.056
31,15.49,_,0.8724,5.757,3.371,3.412,5.228
32,14.09,14.41,0.8529,5.717,3.186,3.92,5.299
33,13.94,14.17,0.8728,5.585,3.15,2.124,5.012
34,15.05,14.68,0.8779,5.712,3.328,2.129,5.36
35,16.12,15.0,0.9,5.709,3.485,2.27,5.443
36,16.2,15.27,0.8734,5.826,3.464,2.823,5.527
37,17.08,15.38,0.9079,5.832,3.683,2.956,_
38,14.8,14.52,0.8823,5.656,3.288,3.112,_
39,14.28,14.17,0.8944,5.397,3.298,6.685,5.001
40,13.54,13.85,0.8871,5.348,3.156,2.587,5.178
41,13.5,13.85,0.8852,5.351,_,2.249,5.176
42,13.16,13.55,_,5.138,3.201,2.461,4.783
43,15.5,14.86,0.882,5.877,3.396,4.711,5.528
44,15.11,14.54,0.8986,5.579,3.462,3.128,5.18
45,13.8,_,0.8794,5.376,3.155,_,4.961
46,15.36,14.76,0.8861,5.701,3.393,1.367,5.132
47,14.99,14.56,0.8883,5.57,3.377,2.958,5.175
48,14.79,_,0.8819,5.545,3.291,2.704,5.111
49,14.86,14.67,_,5.678,3.258,2.129,5.351

In [29]:
print()
print('─' * 150)  # U+2500, Box Drawings Light Horizontal
print('\n1. Number of NaN cells generated for each feature:\n')
display(pd.DataFrame(X.isnull().sum(0)).T)
print()
print('─' * 150)  # U+2500, Box Drawings Light Horizontal
print('\n2. Number of NaN features generated for each wine samples:\n')
display(pd.DataFrame(X.isnull().sum(1)).T)
print()
print('─' * 150)  # U+2500, Box Drawings Light Horizontal
print('\n3. Showing all the rows and features with NaN value:\n')
display(X[np.isin(X.isnull(), 1)].fillna('_').head(50))

──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────

1. Number of NaN cells generated for each feature:

,Area,Perimeter,Compactness,Length of kernel,Width of kernel,Asymmetry coefficient,Length of kernel groove.
0,7,18,8,12,9,7,14

──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────

2. Number of NaN features generated for each wine samples:

,0,1,2,3,4,5,6,7,8,9,...,200,201,202,203,204,205,206,207,208,209
0,0,1,0,0,0,1,1,1,2,0,...,1,0,0,1,0,0,1,1,0,1

──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────

3. Showing all the rows and features with NaN value:

,Area,Perimeter,Compactness,Length of kernel,Width of kernel,Asymmetry coefficient,Length of kernel groove.
1,_,14.57,0.8811,5.554,3.333,1.018,4.956
5,14.38,_,0.8951,5.386,3.312,2.462,4.956
6,14.69,14.49,0.8799,5.563,3.259,_,5.219
7,14.11,14.1,0.8911,5.42,3.302,2.7,_
8,16.63,15.46,0.8747,_,_,2.04,5.877
8,16.63,15.46,0.8747,_,_,2.04,5.877
12,13.89,_,0.888,5.439,3.199,3.986,4.738
15,14.59,14.28,0.8993,_,3.333,4.185,4.781
22,_,14.9,0.8988,5.618,3.507,0.7651,5.091
24,15.01,14.76,0.8657,5.789,3.245,1.791,_
25,16.19,15.16,0.8849,5.833,3.421,0.903,_
26,13.02,13.76,0.8641,5.395,_,3.373,4.825
31,15.49,_,0.8724,5.757,3.371,3.412,5.228
37,17.08,15.38,0.9079,5.832,3.683,2.956,_
38,14.8,14.52,0.8823,5.656,3.288,3.112,_
41,13.5,13.85,0.8852,5.351,_,2.249,5.176
42,13.16,13.55,_,5.138,3.201,2.461,4.783
45,13.8,_,0.8794,5.376,3.155,_,4.961
45,13.8,_,0.8794,5.376,3.155,_,4.961
48,14.79,_,0.8819,5.545,3.291,2.704,5.111
49,14.86,14.67,_,5.678,3.258,2.129,5.351
50,14.43,14.4,0.8751,_,3.272,3.975,5.144
51,15.78,14.91,_,5.674,3.434,5.593,5.136
57,_,14.43,0.9006,5.384,3.412,1.142,5.088
66,14.34,14.37,0.8726,_,_,1.313,5.15
66,14.34,14.37,0.8726,_,_,1.313,5.15
68,14.37,_,0.8726,5.569,3.153,_,5.3
68,14.37,_,0.8726,5.569,3.153,_,5.3
69,12.73,13.75,0.8458,_,2.882,3.533,5.067
75,16.77,_,0.8638,5.927,3.438,4.92,5.795
78,18.94,16.49,0.875,6.445,3.639,5.064,_
79,17.12,_,0.8892,5.85,3.566,2.858,5.746
80,_,15.34,0.8823,5.875,3.467,5.532,5.88
89,20.88,17.05,0.9031,_,4.032,5.016,6.321
91,18.76,16.2,0.8984,6.172,3.796,3.12,_
94,18.36,_,0.8452,6.666,_,4.933,6.448
94,18.36,_,0.8452,6.666,_,4.933,6.448
99,18.72,_,0.881,6.219,3.684,2.188,6.097
103,19.18,16.63,0.8717,_,3.681,3.357,6.229
104,18.95,16.42,0.8829,6.248,_,_,6.148
104,18.95,16.42,0.8829,6.248,_,_,6.148
105,18.83,16.29,0.8917,6.037,3.786,2.553,_
106,18.85,16.17,0.9056,6.152,_,2.843,6.2
117,19.15,16.45,0.889,6.245,3.815,3.084,_
123,18.43,15.97,0.9077,5.98,3.771,_,5.905
127,17.98,_,0.8993,5.979,3.687,2.257,_
127,17.98,_,0.8993,5.979,3.687,2.257,_
134,15.56,14.89,0.8823,5.776,3.408,_,5.847
137,15.57,15.15,0.8527,5.92,3.231,2.64,_
138,15.6,15.11,0.858,_,3.286,2.725,5.752

## Comparison and Impute
### Compare the original dataframe with the manupulated data

In [30]:
display(X.compare(original_X).fillna(''))

    Area        Perimeter        Compactness         Length of kernel         \
    self  other      self  other        self   other             self  other
1         14.88
5                          14.21
6
7
8                                                                      6.053
..   ...    ...       ...    ...         ...     ...              ...    ...
200                                           0.8609
203                                                                    5.183
206                        12.88
207        13.2
209                                                                    5.243

    Width of kernel        Asymmetry coefficient         \
               self  other                  self  other
1
5
6                                                 3.586
7
8                    3.465
..              ...    ...                   ...    ...
200
203
206
207
209

    Length of kernel groove.
                        self other
1
5
6
7                              5.0
8
..                       ...   ...
200
203
206
207
209

[64 rows x 14 columns]

### Use median imputer to estimate the values of the missing values in the manupulated data frame

In [31]:
imr = SimpleImputer(missing_values=np.nan, strategy='median')
imr = imr.fit(X)
imputed_data = pd.DataFrame(imr.transform(X), columns=features)
imputed_data.head(50)

,Area,Perimeter,Compactness,Length of kernel,Width of kernel,Asymmetry coefficient,Length of kernel groove.
0,15.26,14.84,0.87100,5.7630,3.312,2.2210,5.220
1,14.34,14.57,0.88110,5.5540,3.333,1.0180,4.956
2,14.29,14.09,0.90500,5.2910,3.337,2.6990,4.825
3,13.84,13.94,0.89550,5.3240,3.379,2.2590,4.805
4,16.14,14.99,0.90340,5.6580,3.562,1.3550,5.175
5,14.38,14.36,0.89510,5.3860,3.312,2.4620,4.956
6,14.69,14.49,0.87990,5.5630,3.259,3.6190,5.219
7,14.11,14.10,0.89110,5.4200,3.302,2.7000,5.220
8,16.63,15.46,0.87470,5.5235,3.242,2.0400,5.877
9,16.44,15.25,0.88800,5.8840,3.505,1.9690,5.533
10,15.26,14.85,0.86960,5.7140,3.242,4.5430,5.314
11,14.03,14.16,0.87960,5.4380,3.201,1.7170,5.001
12,13.89,14.36,0.88800,5.4390,3.199,3.9860,4.738
13,13.78,14.06,0.87590,5.4790,3.156,3.1360,4.872
14,13.74,14.05,0.87440,5.4820,3.114,2.9320,4.825
15,14.59,14.28,0.89930,5.5235,3.333,4.1850,4.781
16,13.99,13.83,0.91830,5.1190,3.383,5.2340,4.781
17,15.69,14.75,0.90580,5.5270,3.514,1.5990,5.046
18,14.70,14.21,0.91530,5.2050,3.466,1.7670,4.649
19,12.72,13.57,0.86860,5.2260,3.049,4.1020,4.914
20,14.16,14.40,0.85840,5.6580,3.129,3.0720,5.176
21,14.11,14.26,0.87220,5.5200,3.168,2.6880,5.219
22,14.34,14.90,0.89880,5.6180,3.507,0.7651,5.091
23,12.08,13.23,0.86640,5.0990,2.936,1.4150,4.961
24,15.01,14.76,0.86570,5.7890,3.245,1.7910,5.220
25,16.19,15.16,0.88490,5.8330,3.421,0.9030,5.220
26,13.02,13.76,0.86410,5.3950,3.242,3.3730,4.825
27,12.74,13.67,0.85640,5.3950,2.956,2.5040,4.869
28,14.11,14.18,0.88200,5.5410,3.221,2.7540,5.038
29,13.45,14.02,0.86040,5.5160,3.065,3.5310,5.097
30,13.16,13.82,0.86620,5.4540,2.975,0.8551,5.056
31,15.49,14.36,0.87240,5.7570,3.371,3.4120,5.228
32,14.09,14.41,0.85290,5.7170,3.186,3.9200,5.299
33,13.94,14.17,0.87280,5.5850,3.150,2.1240,5.012
34,15.05,14.68,0.87790,5.7120,3.328,2.1290,5.360
35,16.12,15.00,0.90000,5.7090,3.485,2.2700,5.443
36,16.20,15.27,0.87340,5.8260,3.464,2.8230,5.527
37,17.08,15.38,0.90790,5.8320,3.683,2.9560,5.220
38,14.80,14.52,0.88230,5.6560,3.288,3.1120,5.220
39,14.28,14.17,0.89440,5.3970,3.298,6.6850,5.001
40,13.54,13.85,0.88710,5.3480,3.156,2.5870,5.178
41,13.50,13.85,0.88520,5.3510,3.242,2.2490,5.176
42,13.16,13.55,0.87395,5.1380,3.201,2.4610,4.783
43,15.50,14.86,0.88200,5.8770,3.396,4.7110,5.528
44,15.11,14.54,0.89860,5.5790,3.462,3.1280,5.180
45,13.80,14.36,0.87940,5.3760,3.155,3.6190,4.961
46,15.36,14.76,0.88610,5.7010,3.393,1.3670,5.132
47,14.99,14.56,0.88830,5.5700,3.377,2.9580,5.175
48,14.79,14.36,0.88190,5.5450,3.291,2.7040,5.111
49,14.86,14.67,0.87395,5.6780,3.258,2.1290,5.351

### Compare the imputed data with the manipulated dataframe

In [32]:
display(X.compare(imputed_data).fillna(''))

    Area        Perimeter        Compactness          Length of kernel  \
    self  other      self  other        self    other             self
1         14.34
5                          14.36
6
7
8
..   ...    ...       ...    ...         ...      ...              ...
200                                           0.87395
203
206                        14.36
207       14.34
209

            Width of kernel        Asymmetry coefficient         \
      other            self  other                  self  other
1
5
6                                                         3.619
7
8    5.5235                  3.242
..      ...             ...    ...                   ...    ...
200
203  5.5235
206
207
209  5.5235

    Length of kernel groove.
                        self other
1
5
6
7                             5.22
8
..                       ...   ...
200
203
206
207
209

[64 rows x 14 columns]

### Compare the original data vs. the imputed data

In [ ]:
display(original_X.compare(imputed_data).fillna(''))

      Area         Perimeter        Compactness          Length of kernel  \
      self   other      self  other        self    other             self
3                      13.94  14.35
4    16.14  14.285
5
8                                                                   6.053
14   13.74  14.285
17                     14.75  14.35
18
25   16.19  14.285
27                     13.67  14.35
30   13.16  14.285
35
37   17.08  14.285                       0.9079  0.87465
39                                                                  5.397
42   13.16  14.285
44                     14.54  14.35
46                                                                  5.701
53
54
55                     14.77  14.35
57
59
64                                       0.8716  0.87465
68   14.37  14.285
71   16.84  14.285
73                                                                  6.154
74   16.82  14.285
75
95                                       0.8648  0.87465
101                    15.86  14.35                                  5.89
102  19.46  14.285
113  19.14  14.285                                                  6.259
114
117                                                                 6.245
121
127
130                                      0.9108  0.87465
134  15.56  14.285
135  15.38  14.285
136
138
143
144                                      0.8274  0.87465
148
151
154
155                                      0.8253  0.87465
156                                      0.8596  0.87465
168                                                                 5.176
175                                       0.859  0.87465
181
182                                      0.8579  0.87465
183
186                    13.45  14.35      0.8198  0.87465
187
192
193                    12.83  14.35
199
200  12.38  14.285
203
205                     13.2  14.35

          Width of kernel        Asymmetry coefficient         \
    other            self  other                  self  other
3
4
5                   3.312  3.245
8    5.51
14
17
18
25
27
30
35
37
39   5.51
42
44
46   5.51
53                  3.199  3.245
54
55
57                  3.412  3.245
59                  3.032  3.245
64                  3.026  3.245
68
71
73   5.51
74
75                  3.438  3.245
95
101  5.51
102
113  5.51
114                                              4.677  3.592
117  5.51
121
127
130                 3.755  3.245
134
135
136
138
143                                              5.469  3.592
144
148
151
154                                              4.048  3.592
155
156                 2.849  3.245
168  5.51
175
181                 3.017  3.245
182
183
186
187                 2.675  3.245
192                                              3.597  3.592
193
199                 3.155  3.245
200
203
205

    Length of kernel groove.
                        self other
3
4
5
8
14
17
18                     4.649  5.22
25
27
30
35                     5.443  5.22
37
39
42
44
46
53                     5.224  5.22
54                     5.487  5.22
55
57
59
64
68
71
73
74
75
95
101
102
113
114
117
121                    6.011  5.22
127                    5.919  5.22
130
134                    5.847  5.22
135
136                    5.971  5.22
138                    5.752  5.22
143
144
148                    5.316  5.22
151                     5.27  5.22
154
155
156
168
175
181
182
183                    5.135  5.22
186
187
192
193
199
200
203                      5.0  5.22
205